/* Impostazioni per navbar + view al collapse + impostazioni principali per Homepage */
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
header form button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
}
form img {
  border-radius: 7px;
}
main button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
}
span i {
  padding: 0.5em;
}
small {
  margin: 0.5em;
  font-size: 0.7em;
}
.special-small {
  font-size: 0.5em;
}
.carousel-item img {
  transition: transform 0.4s ease;
}

/* Sezione effetti per carosello + effetti hover scaling */
.carousel-item img:hover {
  transform: scale(1.05);
  z-index: 99;
  position: relative;
  cursor: pointer;
}
.carousel-inner {
  overflow: visible;
}
.effetto-zoom {
  transition: transform 0.3s ease;
}
.effetto-zoom:hover {
  transform: scale(0.9);
  cursor: pointer;
  z-index: 99;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 1050 !important;
  width: 5%;
  opacity: 1;
}

/* Sezione dropdown per Log out */
.dropdown-menu {
  width: fit-content;
}
/* Settings Link */
.setting-link {
  text-decoration: none !important;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.setting-link:hover {
  text-decoration: underline !important;
}
/* Link del footer */
.footer-link {
  color: #808080 !important;
  text-decoration: none !important;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.footer-link:hover {
  text-decoration: underline !important;
}

.cursor-pointer {
  cursor: pointer;
}
